<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loof.common.mapper.ShipInfoMapper" >
  <resultMap id="BaseResultMap" type="com.loof.common.model.ShipInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="shipowner" property="shipowner" jdbcType="VARCHAR" />
    <result column="ship_name" property="shipName" jdbcType="VARCHAR" />
    <result column="ship_length" property="shipLength" jdbcType="DOUBLE" />
    <result column="ship_draft" property="shipDraft" jdbcType="VARCHAR" />
    <result column="report_address" property="reportAddress" jdbcType="VARCHAR" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="ship_type" property="shipType" jdbcType="VARCHAR" />
    <result column="carry_cargo" property="carryCargo" jdbcType="VARCHAR" />
    <result column="report_time" property="reportTime" jdbcType="TIMESTAMP" />
    <result column="through_cannel" property="throughCannel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shipowner, ship_name, ship_length, ship_draft, report_address, destination, ship_type, 
    carry_cargo, report_time, through_cannel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.loof.common.model.ShipInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ship_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pagination != null and pagination.begin >= 0" >
      limit #{pagination.begin}, #{pagination.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ship_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ship_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.loof.common.model.ShipInfoExample" >
    delete from ship_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.loof.common.model.ShipInfo" >
    insert into ship_info (id, shipowner, ship_name, 
      ship_length, ship_draft, report_address, 
      destination, ship_type, carry_cargo, 
      report_time, through_cannel)
    values (#{id,jdbcType=VARCHAR}, #{shipowner,jdbcType=VARCHAR}, #{shipName,jdbcType=VARCHAR}, 
      #{shipLength,jdbcType=DOUBLE}, #{shipDraft,jdbcType=VARCHAR}, #{reportAddress,jdbcType=VARCHAR}, 
      #{destination,jdbcType=VARCHAR}, #{shipType,jdbcType=VARCHAR}, #{carryCargo,jdbcType=VARCHAR}, 
      #{reportTime,jdbcType=TIMESTAMP}, #{throughCannel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.loof.common.model.ShipInfo" >
    insert into ship_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shipowner != null" >
        shipowner,
      </if>
      <if test="shipName != null" >
        ship_name,
      </if>
      <if test="shipLength != null" >
        ship_length,
      </if>
      <if test="shipDraft != null" >
        ship_draft,
      </if>
      <if test="reportAddress != null" >
        report_address,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="shipType != null" >
        ship_type,
      </if>
      <if test="carryCargo != null" >
        carry_cargo,
      </if>
      <if test="reportTime != null" >
        report_time,
      </if>
      <if test="throughCannel != null" >
        through_cannel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="shipowner != null" >
        #{shipowner,jdbcType=VARCHAR},
      </if>
      <if test="shipName != null" >
        #{shipName,jdbcType=VARCHAR},
      </if>
      <if test="shipLength != null" >
        #{shipLength,jdbcType=DOUBLE},
      </if>
      <if test="shipDraft != null" >
        #{shipDraft,jdbcType=VARCHAR},
      </if>
      <if test="reportAddress != null" >
        #{reportAddress,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="shipType != null" >
        #{shipType,jdbcType=VARCHAR},
      </if>
      <if test="carryCargo != null" >
        #{carryCargo,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null" >
        #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="throughCannel != null" >
        #{throughCannel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.loof.common.model.ShipInfoExample" resultType="java.lang.Integer" >
    select count(*) from ship_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ship_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.shipowner != null" >
        shipowner = #{record.shipowner,jdbcType=VARCHAR},
      </if>
      <if test="record.shipName != null" >
        ship_name = #{record.shipName,jdbcType=VARCHAR},
      </if>
      <if test="record.shipLength != null" >
        ship_length = #{record.shipLength,jdbcType=DOUBLE},
      </if>
      <if test="record.shipDraft != null" >
        ship_draft = #{record.shipDraft,jdbcType=VARCHAR},
      </if>
      <if test="record.reportAddress != null" >
        report_address = #{record.reportAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.destination != null" >
        destination = #{record.destination,jdbcType=VARCHAR},
      </if>
      <if test="record.shipType != null" >
        ship_type = #{record.shipType,jdbcType=VARCHAR},
      </if>
      <if test="record.carryCargo != null" >
        carry_cargo = #{record.carryCargo,jdbcType=VARCHAR},
      </if>
      <if test="record.reportTime != null" >
        report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.throughCannel != null" >
        through_cannel = #{record.throughCannel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ship_info
    set id = #{record.id,jdbcType=VARCHAR},
      shipowner = #{record.shipowner,jdbcType=VARCHAR},
      ship_name = #{record.shipName,jdbcType=VARCHAR},
      ship_length = #{record.shipLength,jdbcType=DOUBLE},
      ship_draft = #{record.shipDraft,jdbcType=VARCHAR},
      report_address = #{record.reportAddress,jdbcType=VARCHAR},
      destination = #{record.destination,jdbcType=VARCHAR},
      ship_type = #{record.shipType,jdbcType=VARCHAR},
      carry_cargo = #{record.carryCargo,jdbcType=VARCHAR},
      report_time = #{record.reportTime,jdbcType=TIMESTAMP},
      through_cannel = #{record.throughCannel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.loof.common.model.ShipInfo" >
    update ship_info
    <set >
      <if test="shipowner != null" >
        shipowner = #{shipowner,jdbcType=VARCHAR},
      </if>
      <if test="shipName != null" >
        ship_name = #{shipName,jdbcType=VARCHAR},
      </if>
      <if test="shipLength != null" >
        ship_length = #{shipLength,jdbcType=DOUBLE},
      </if>
      <if test="shipDraft != null" >
        ship_draft = #{shipDraft,jdbcType=VARCHAR},
      </if>
      <if test="reportAddress != null" >
        report_address = #{reportAddress,jdbcType=VARCHAR},
      </if>
      <if test="destination != null" >
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="shipType != null" >
        ship_type = #{shipType,jdbcType=VARCHAR},
      </if>
      <if test="carryCargo != null" >
        carry_cargo = #{carryCargo,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null" >
        report_time = #{reportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="throughCannel != null" >
        through_cannel = #{throughCannel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loof.common.model.ShipInfo" >
    update ship_info
    set shipowner = #{shipowner,jdbcType=VARCHAR},
      ship_name = #{shipName,jdbcType=VARCHAR},
      ship_length = #{shipLength,jdbcType=DOUBLE},
      ship_draft = #{shipDraft,jdbcType=VARCHAR},
      report_address = #{reportAddress,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      ship_type = #{shipType,jdbcType=VARCHAR},
      carry_cargo = #{carryCargo,jdbcType=VARCHAR},
      report_time = #{reportTime,jdbcType=TIMESTAMP},
      through_cannel = #{throughCannel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>