<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loof.common.mapper.WeixinMessageMapper" >
  <resultMap id="BaseResultMap" type="com.loof.common.model.WeixinMessage" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="to_user_name" property="toUserName" jdbcType="VARCHAR" />
    <result column="from_user_name" property="fromUserName" jdbcType="VARCHAR" />
    <result column="msg_type" property="msgType" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="msg_id" property="msgId" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="media_id" property="mediaId" jdbcType="VARCHAR" />
    <result column="format" property="format" jdbcType="VARCHAR" />
    <result column="recongnition" property="recongnition" jdbcType="VARCHAR" />
    <result column="thumb_media_id" property="thumbMediaId" jdbcType="VARCHAR" />
    <result column="location_x" property="locationX" jdbcType="VARCHAR" />
    <result column="location_y" property="locationY" jdbcType="VARCHAR" />
    <result column="scale" property="scale" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, to_user_name, from_user_name, msg_type, content, msg_id, pic_url, media_id, format, 
    recongnition, thumb_media_id, location_x, location_y, scale, label, title, description, 
    url, create_datetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.loof.common.model.WeixinMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from weixin_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pagination != null and pagination.begin >= 0" >
      limit #{pagination.begin}, #{pagination.pageSize}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.loof.common.model.WeixinMessageExample" >
    delete from weixin_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.loof.common.model.WeixinMessage" >
    insert into weixin_message (id, to_user_name, from_user_name, 
      msg_type, content, msg_id, 
      pic_url, media_id, format, 
      recongnition, thumb_media_id, location_x, 
      location_y, scale, label, 
      title, description, url, 
      create_datetime)
    values (#{id,jdbcType=VARCHAR}, #{toUserName,jdbcType=VARCHAR}, #{fromUserName,jdbcType=VARCHAR}, 
      #{msgType,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{msgId,jdbcType=VARCHAR}, 
      #{picUrl,jdbcType=VARCHAR}, #{mediaId,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, 
      #{recongnition,jdbcType=VARCHAR}, #{thumbMediaId,jdbcType=VARCHAR}, #{locationX,jdbcType=VARCHAR}, 
      #{locationY,jdbcType=VARCHAR}, #{scale,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{createDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.loof.common.model.WeixinMessage" >
    insert into weixin_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="toUserName != null" >
        to_user_name,
      </if>
      <if test="fromUserName != null" >
        from_user_name,
      </if>
      <if test="msgType != null" >
        msg_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="msgId != null" >
        msg_id,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="mediaId != null" >
        media_id,
      </if>
      <if test="format != null" >
        format,
      </if>
      <if test="recongnition != null" >
        recongnition,
      </if>
      <if test="thumbMediaId != null" >
        thumb_media_id,
      </if>
      <if test="locationX != null" >
        location_x,
      </if>
      <if test="locationY != null" >
        location_y,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="toUserName != null" >
        #{toUserName,jdbcType=VARCHAR},
      </if>
      <if test="fromUserName != null" >
        #{fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null" >
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="msgId != null" >
        #{msgId,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="mediaId != null" >
        #{mediaId,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="recongnition != null" >
        #{recongnition,jdbcType=VARCHAR},
      </if>
      <if test="thumbMediaId != null" >
        #{thumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="locationX != null" >
        #{locationX,jdbcType=VARCHAR},
      </if>
      <if test="locationY != null" >
        #{locationY,jdbcType=VARCHAR},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.loof.common.model.WeixinMessageExample" resultType="java.lang.Integer" >
    select count(*) from weixin_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update weixin_message
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.toUserName != null" >
        to_user_name = #{record.toUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.fromUserName != null" >
        from_user_name = #{record.fromUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.msgType != null" >
        msg_type = #{record.msgType,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.msgId != null" >
        msg_id = #{record.msgId,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null" >
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaId != null" >
        media_id = #{record.mediaId,jdbcType=VARCHAR},
      </if>
      <if test="record.format != null" >
        format = #{record.format,jdbcType=VARCHAR},
      </if>
      <if test="record.recongnition != null" >
        recongnition = #{record.recongnition,jdbcType=VARCHAR},
      </if>
      <if test="record.thumbMediaId != null" >
        thumb_media_id = #{record.thumbMediaId,jdbcType=VARCHAR},
      </if>
      <if test="record.locationX != null" >
        location_x = #{record.locationX,jdbcType=VARCHAR},
      </if>
      <if test="record.locationY != null" >
        location_y = #{record.locationY,jdbcType=VARCHAR},
      </if>
      <if test="record.scale != null" >
        scale = #{record.scale,jdbcType=VARCHAR},
      </if>
      <if test="record.label != null" >
        label = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.createDatetime != null" >
        create_datetime = #{record.createDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update weixin_message
    set id = #{record.id,jdbcType=VARCHAR},
      to_user_name = #{record.toUserName,jdbcType=VARCHAR},
      from_user_name = #{record.fromUserName,jdbcType=VARCHAR},
      msg_type = #{record.msgType,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      msg_id = #{record.msgId,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      media_id = #{record.mediaId,jdbcType=VARCHAR},
      format = #{record.format,jdbcType=VARCHAR},
      recongnition = #{record.recongnition,jdbcType=VARCHAR},
      thumb_media_id = #{record.thumbMediaId,jdbcType=VARCHAR},
      location_x = #{record.locationX,jdbcType=VARCHAR},
      location_y = #{record.locationY,jdbcType=VARCHAR},
      scale = #{record.scale,jdbcType=VARCHAR},
      label = #{record.label,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      create_datetime = #{record.createDatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>